div{
    width: 100%;
    padding: 10px;
    /* margin: 10px; */
    background-color: #1e154a;
    text-align: center;
}
p{
    color:white;
}

h1{
    color:white;
}

h2{
    color:white;
}

.row{
    padding:20px;
}
#principal{
    height: 500px;
}

@media (min-width: 576px){
    #imagen{
        height: 50%;
    }
    #fotodeperfil{
        /* position: absolute; */
        width: 16%;
        left: 40%;
        /* top: 100%; */
        border-radius: 50%;
        box-shadow: 3px 3px 3px grey;
    }
}

@media (max-width: 575px){
    #imagen{
        height: 50%;
    }
    #fotodeperfil{
        /* position: absolute; */
        width: 40%;
        left: 50%;
        border-radius: 50%;
        box-shadow: 3px 3px 3px grey;
    }
}

#nombre{
    font-weight: bold;
    /* margin-top: 30%; */
}