<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/logo-ap.png" id="logoAP">
        </div>
        <div class="redes">
            <button class="btn btn-outline-light" (click)="redirectToTwitter()">
                <i class="bi bi-twitter"></i>
            </button>
            <button class="btn btn-outline-light" (click)="redirectToGithub()">
                <i class="bi bi-github"></i>
            </button>
            <button class="btn btn-outline-light" (click)="redirectToLinkedin()">
                <i class="bi bi-linkedin"></i>
            </button>
            <button class="btn btn-outline-light" (click)="redirectToFacebook()">
                <i class="bi bi-facebook"></i>
            </button>
        </div>
        <div class="ingresar">
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR
                SESION</button>
        </div>
    </div>
</div>